body {
    background-color: rgb(155, 212, 155);
    font-size: 40px;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(212, 113, 113);
    word-spacing: 20px;
    font-size: 60px;
}